img.rounded {
    border-radius: 6px;
}
img.circle {
    border-radius: 50%;
}
img.thumbnail {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
}
form>fieldset {
    border-width: 1;
    border-style: double;
}
form>fieldset>input {
    width: 50%;
}